@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-patuju-green: #2D6A4F;
    --color-patuju-yellow: #F4A100;
    --color-patuju-red: #C1121F;
    --color-patuju-white: #F8FAFC;
    --color-patuju-cream: #FFF8E7;
    --color-patuju-card: #ECFBE9;
    --color-patuju-orange: #E76F00;
}

@layer base {
    .dark {
        --color-patuju-green: #1f911f;
    }
}
